:root {
  scroll-behavior: smooth;
}

@media (min-width: 751px) {
  #docsearch-container:lang(zh-CN) {
    min-width: 184.66px;
  }
}

table.n-data-table-table {
  border-collapse: unset;
  margin: unset;
  display: table;
  overflow-x: unset;
  transition: unset;
}